@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@font-face {
  font-family: 'Futura';
  src: url('fonts/Futura\ Bold\ font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Futura', monospace;
}
