@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Cormorant';
  src: url('fonts/CormorantNormal.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Cormorant', monospace;
}
